[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=sampleinlinenotes
Name=Sample Inline Notes
Comment=Kate plugin to present KTextEditor InlineNotesInterface
